body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif; /* Certifique-se de importar a fonte Inter no seu projeto */
  background: var(--secondary-secondary-01, #090909);
  color: #ffffff; /* Cor do texto */
}

.container-nav,
.container-funcoes {
  display: flex;
  flex-direction: column; /* Alteração para coluna */
  align-items: flex-start;
  justify-content: flex-start;
  margin: 10px; /* Ajuste conforme necessário */
}

.container-nav p,
.container-funcoes p {
  margin-bottom: 10px; /* Espaçamento entre os itens. Ajuste conforme necessário */
}
.Card {
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
  padding: 20px;
  background-color: #333333; /* Cinza escuro */
  color: #ffffff; /* Texto branco */
  border-radius: 10px; /* Valor ajustável para arredondar as bordas */
}
