body {

  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  background-color: #171717;
}

.Secao {
  color: var(--neutral-neutral-01, #B2B2B2);
  font-family: Circular Std;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
}

.container-nav,
.container-funcoes {
  flex-direction: column;
  align-items: flex-start;
  margin: 5px;
}

.container-nav {
  height: 130px;
  border-radius: 15px;
  justify-content: space-between;
}

.container-funcoes {
  border-bottom: 1px solid #ffffff97;
  height: 95px;
  justify-content: space-between;
}

.generos {

  font-size: 12px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.7);
  list-style-type: none;
}

.generos li {
  margin-bottom: 8px;
}

.seekbar {

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #333333;
  color: #ffffff;
  width: 100%;
  /* Cobrir toda a largura da tela */
  height: 80px;
  flex-shrink: 0;
}

.seekbar-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seekbar-info img {
  max-width: 100px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.seekbar-info p {
  margin: 0;
}



.botoes {
  position: absolute;
  left: 950px;
  display: flex;
  align-items: center;


}

.botoes img {
  width: 20px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  left: 15px;
}

.Fundo {
  position: absolute;
  z-index: 5;
  padding: 12px;
  margin-top: 0%;
  top: 50%;
  left: 0;
  height: 1890px;
  width: 176px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 12px;
  flex-shrink: 0;
}

.Fundo-2 {
  position: absolute;
  z-index: 5;
  padding: 12px;
  margin-top: 0%;
  top: 50%;
  right: 0;
  height: 1890px;
  width: 176px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 12px;
  flex-shrink: 0;
}

.artistas-container {
  display: flex;
  justify-content: space-around;
  align-items: right;
  flex-wrap: wrap;
  padding: 20px;
}

.artista-item {
  text-align: right;
  margin: 10px;
}

.artista-item img {
  width: 10px;
  height: 10px;
  object-fit: cover;
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 25px;
  margin-bottom: 10px;
}

.artista-item p {

  border-radius: 50%;
  margin: 0;
  font-size: 14px;
  color: #888;
}



.searchBar {
  justify-content: space-around;
  width: 100%;
  background-color: red;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.barra img {
  justify-content: center;
  align-items: center;
  background-color: darkorange;
  width: 3ch;

  border-radius: 8px;
  /* Borda arredondada */
}



.butaum{
  background-color: darkorange;
  height: min-content;
}
.butaum button {
background: none;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.butaum img {
  width: 3ch;
  /* Para manter a proporção da imagem */
  margin-right: 5px;
  /* Espaçamento entre as imagens */
}

.identidade{
  justify-content: center;
  background-color: darkorange;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.identidade img.avatar {

width: 4ch;
  /* Ajuste conforme necessário */
  border-radius: 50%;
  /* Para criar uma imagem de avatar circular */

}



.barraseek {
  scale: 500%;
  position: absolute;
  left: 980px;
  top: 90px;
  /* ajuste o valor conforme necessário */
  display: flex;
  align-items: center;
}